@{
    ViewBag.Title = "Gallerie de photos";
}

<div class="galerie">
    <div class="block_photo">
        <div class="photo">
            <img src="~/Content/photos/gallerie_photos/moi et mes collegues m2.jpg" height="270" width="360" />
        </div>
        <div class="desc_photo">Moi et mes camarades de M2 à Luminy</div>
    </div>
    <div class="block_photo">

    </div>
</div>

