@{
    ViewBag.Title = "Projets";
}


 @Styles.Render("~/Content/lightbox.css")
<!-- @Styles.Render("~/Content/screen.css")-->
 @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
 @Scripts.Render("~/Scripts/lightbox-2.6.min.js")



<div class="block_projet">
    <div class="img_projet">
        <a rel="image_projet"   data-lightbox="image_projet" class="group_imgs" href="~/Content/photos/captures_sites/palaisdebourse.PNG" title="Secrets et Parcours">
            <img src="~/Content/photos/captures_sites/palaisdebourse.PNG" width="350" height="350" />
        </a>
    </div>
    <div class="desc_projet">
        <h1>Secrets et Parcours</h1>
        <div class="text_projet">Le palais de la bourse 2013</div>
    </div>
</div>

<div class="block_projet">
<div class="img_projet">
    <a  data-lightbox="image_projet" href="~/Content/photos/captures_sites/mouillage.PNG" title="Escales et Mouillages Gourmands">
        <img src="~/Content/photos/captures_sites/mouillage.PNG" width="350" height="350" />
    </a>
</div>
    <div class="desc_projet">
        <h1>Escales et Mouillages Gourmands</h1>
        <div class="text_projet">Guide gastronomique en Corse</div>
    </div>
</div>
<div class="block_projet">
    <div class="img_projet">
        <a data-lightbox="image_projet" href="~/Content/photos/captures_sites/lem.PNG" title="Espace Membres CCI Marseille Provence">
            <img src="~/Content/photos/captures_sites/lem.PNG" width="350" height="350" />
        </a>
    </div>
    
    <div class="desc_projet">
        <h1>Espace Membres CCI Marseille Provence</h1>
        <div class="text_projet">Un outil de communication pour les élus de la CCIMP</div>
    </div>
</div>

<div class="block_projet">
    <div class="img_projet">
        <a data-lightbox="image_projet" href="~/Content/photos/captures_sites/corellis.PNG" title="Corellis">
            <img src="~/Content/photos/captures_sites/corellis.PNG" width="350" height="350" />
        </a>
    </div>
    <div class="desc_projet">
        <h1>Corellis</h1>
        <div class="text_projet">Le site de Corellis</div>
    </div>
</div>

<div class="block_projet">
    <div class="img_projet">
        <a data-lightbox="image_projet" href="~/Content/photos/captures_sites/cinemasaixois.PNG" title="Les Cinémas Aixoi">
            <img src="~/Content/photos/captures_sites/cinemasaixois.PNG" width="350" height="350" />
        </a>
    </div>
    <div class="desc_projet">
        <h1>Les Cinémas Aixois</h1>
        <div class="text_projet">Site pour la réservation de places de cinéma en ligne</div>
    </div>
</div>

<div class="block_projet">
    <div class="img_projet">
        <a data-lightbox="image_projet" href="~/Content/photos/captures_sites/eurocopter.PNG" title="Eurocopter">
            <img src="~/Content/photos/captures_sites/eurocopter.PNG" width="350" height="350" />
        </a>
    </div>
    <div class="desc_projet">
        <h1>Eurocopter</h1>
        <div class="text_projet">Back-Office du l'application Eurocopter Universal</div>
    </div>
</div>





