@{
    ViewBag.Title = "Accueil";
}


<div class="content_left">
    <figure id="photo_profile">
        <img src="~/Content/photos/photo_profile.JPG" height="120" width="160" title="profile photo"/><br />
        <figcaption><i>Un pas de tous les jours, je peux arriver à des milliers de kilomètres.</i></figcaption><br />
    </figure>

</div>

<div class="content_right">
    <div>Bienvenue ! <br />Je m'appelle Weili. Je suis chinoise. Je me suis installée à Marseille depuis 10 ans. J'ai fait des études à l'Université de Provence. En Juin 2010, j'ai obtenu mon diplôme de Master 2 informatique fondamentale. J'ai débuté ma carrière de développeur dans la société Comptoir del Développement, puis j'ai passé deux années avec la société Corellis en tant que développeur web et application mobile. Cet été, j'ai commencé à étudier les technologies de Microsoft, ça me plaît beaucoup d'apprendre des nouvelles choses et j'espère que ça peut me donner de nouvelles perspectives professionnelles. Ce site d'un côté est un exercise d'ASP.NET que je suis en train d'apprendre, de l'autre côté c'est un moyen de vous montrer un petit peu de moi. Bonne navigation !</div>
</div>

           

