@{
    ViewBag.Title = "CV";
}



<div class="profile_header">
    <div class="block_left"><img src="~/Content/photos/photo_profile.JPG" height="80" width=100"/></div>
    <div class="block_right"><b>Weili Xie</b><br /><b>Développeuse Web</b><br />Marseille (13)
        <br /><i>Done is better than perfect</i></div>
</div><br /><br />


    <div class="profile_section">
    <div class="profile_title">Compétences</div>
        <div class="text">
              Frameworks : <span class="text_focus">.NET/ASP</span> , Symfony , Zend , Jquerymobile<br />
              Langages de développement : <span class="text_focus">#C</span> , Java , PHP5 , HTML , CSS3 , Javascript/Ajax/Jquery<br />
              Base de données : <span class="text_focus">Microsoft SQL Server</span>, MySQL , PL/SQL , PostgreSQL , Oracle<br />
              CMS : WordPress<br />
              Web design: Responsive Design
        </div>
    </div>
        

  
<div class="profile_section">
    <div class="profile_title">Expériences</div>
    <div class="text">
        <b>Développeuse d'application web et mobile chez Corellis</b><br />
        Mon travail consistait en la réalisation de sites divers, des applications pour mobile, et la maintenance corrective.  <br /><br />
        <b>Développeuse PHP chez Comptoir del Développement</b><br />
        Ma mission consistait en la maintenance du site de la société et la réalisation des applications de comptabilité et de statistiques.
        <br />

    </div>
</div>



<div class="profile_section">
    <div class="profile_title">Formation</div>
    <div class="text">
        <b>Master 2 Informatique Fondamentale</b><br />
        2009 - 2010 Université de Provence - Marseille (13)<br /><br />
        <b>Master 1 Informatique</b><br />
        2008 - 2009 Université de Provence - Marseille (13)<br /><br />
        <b>License Informatique</b><br />
        2005 - 2006 Université de Provence - Marseille (13)
    </div>
</div>

<div class="profile_section">
    <div class="profile_title">Langues</div>
    <div class="text">
        <b>Anglais : </b> lu, écrit, parlé<br /><br />
        <b>Chinois : </b> langue natale<br /><br />
        <b>Français : </b> courant<br />
    </div>
</div>


